<h1>Meu site</h1>
<p>blablabla</p>
<% if current_user %>
  <p> Olá <%= current_user.email %></p>
  <p>
    Logado com sucesso
  </p>
  <% if current_user.admin? %>
    <h1> tem <%= User.count %> usuario na aplicação </h1>
  <% end %>

  <%= link_to "Sair", destroy_user_session_path, 'data-turbo-method': :delete%>
<% else %>
  <p> Não está logado</p>
  <%= link_to "Logar",new_user_session_path%>
  <%= link_to "Criar Conta",new_user_registration_path%>
<% end %>
